# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.migrate/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (opcional – si quieres compartir config, comenta la línea)
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Flutter generated
flutter_*.png

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/app/**/*.iml
**/android/**/GeneratedPluginRegistrant.java

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/engine/
**/ios/Flutter/App.framework
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Web
**/web/.dart_tool/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json
